@import url("comun.css");

body{
	margin: 0;
	background-color: #FDEFDB;
}

.autor{
	margin-left: 250px;
	width: 50%;
	margin-top: 1%;
	padding-left: 2%;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: white;
	border: 5px solid black;
	border-radius: 5px;

}

.inf{
	background-color: white;	
	width: 50%;
	margin-left: 250px;
/*	height: 450px;*/
	margin-bottom: 1%;
	border: 5px solid black;
	border-radius: 5px;
	margin-top: 1%;
	padding-left: 2%;
	padding-top: 5px;
}

@media (max-width:683px){
	.inf{
/*		height: 550px;*/
		margin-left: 50px;
	}
	.autor{
		margin-left: 50px;
	}
}

@media (max-width:515px){
	.inf{
		min-width: 260px;
/*		height: 600px;*/

	}
	.autor{
		min-width: 260px;
	}
}
